@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    background-color: black;
    color: aliceblue;
}
.introDiv {
    margin-left: auto;
    text-align: center;
    margin: 1em;
    margin-right: 160px;
}

.historyDiv {
    
    margin-left: auto;
    text-align: center;
    margin: 1em;
    margin-right: 160px;
}

.offeringDiv {
    
    margin-left: auto;
    text-align: center;
    margin: 1em;
    margin-right: 160px;
}

h1, h2, h3, h4, h5 { 
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
p {
    font-family: 'Quicksand', sans-serif;

}
/*https://stackoverflow.com/a/3029434*/
img {
    max-width: 60%;
    height: auto;
}
/*https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/
.sidenav {
    height: auto;
    width: 160px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li {
    font-family: Open Sans;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
  }